/* Navbar.css */
.navbar {
    width: Fill (1,400px)px;
    height: Hug (81px)px;
    padding: 10px 60px 20px 60px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    display: flex;
    justify-content: space-between;
    opacity: 0px;

}

    .container {
        display: flex;
        align-items: center;
        gap: 26px; 
    }

    .icon {
        height: 45px; 
        border-radius: 8px;
    }

    .nav-buttons {
        display: flex;
        gap: 10px; 
    }

    .buttons_container {
        display: flex;
        align-items: center;
        gap: 30px; 
    }
