.promotion {
    display: flex;
    align-self: center;
    overflow: hidden;
    width: 90%;
    height: 30%;
    margin: 5%;
    gap: 0px;
    border-radius: 8px ;
    border: 1px;
    opacity: 0px;
    background: rgba(252, 252, 253, 1);
    border: 2px;
    color: rgb(255, 255, 255);
    border: solid rgba(241, 241, 243, 1)
}
  
  .promotion-content {
    display: flex;
    animation: scroll 10s linear infinite;
  }
  
  .promotion-content img {
    height: 50px; /* Adjust based on your logo size */
    margin: 20px; /* Space between logos */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .promotion-content::before,
.promotion-content::after {
  content: '';
  display: inline-block;
}

.promotion-content::before {
  order: -1; /* Position it at the start */
}

.promotion-content::after {
  order: 1; /* Position it at the end */
}


.Benefitheading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  gap: 10px; 
}

.BenefitBox {
  display: flex;
  flex-direction: column;
  align-self:center;
  width: 85rem;

}

.Cardgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.Coursegrid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  width: 100%;
}

.home-pricing-section {
  font-family: 'Be Vietnam Pro',sans-serif;
  border-radius: 20px;
  text-align: left;
  padding: 20px;
  background-color: rgba(247, 247, 248, 1);
  width: 90%;
}

.home-pricing-section h2 {
  margin-bottom: 10px;
}

.home-pricing-section p {
  margin-bottom: 20px;
  color: rgba(89, 89, 90, 1);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.home-toggle-buttons {
  display: flex;
  justify-content: center;
  padding: 5px;
  background: rgba(255, 255, 255, 1);
  align-self: center;
  border-radius: 6px;
}

.home-plans-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding: 5px; */
  padding-top: 30px ;
  padding-bottom: 30px;
  gap: 20px;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
}

.home-pricing-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px; 
}