* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F77FF;
}

.outer-circle {
    width: 600px;
    height: 600px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.outer-square {
    width: 424px;
    height: 424px;
    background-color: #4F77FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-circle {
    width: 240px;
    height: 240px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-square {
    width: 60px;
    height: 60px;
    background-color: #4F77FF;
}

